/*Loading Spinner*/
/*Default buttons*/
/*Formatting the manual blocks*/
/*Formatting Pictures*/
/*Animations on Menus*/
/*Text cropping*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap"); /*header with stratup logo*/
header {
  margin: 0 auto;
}

.logo {
  width: 12rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 16rem;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    width: 20rem;
  }
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Footer*/
footer {
  background-color: #2e2d2d;
  padding: 2rem;
}
footer h3 {
  font-family: Shrikhand, sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 992px) {
  footer h3 {
    font-size: 1.5rem;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 1rem 0 2rem;
  }
}
@media screen and (min-width: 992px) {
  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    font-size: 1rem;
    padding: 1rem 0 2rem;
    width: 70%;
    margin: 0 auto;
  }
}

ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  line-height: 2rem;
  color: #fff;
}
ul li a i {
  margin-right: 0.6rem;
}

ul li:first-child i {
  margin-right: 0.9rem;
}

/*Return to the home menu*/
.return-index {
  position: absolute;
  top: 1.7rem;
  left: 1rem;
}
.return-index a {
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .return-index {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .return-index {
    font-size: 2rem;
  }
}

/*Pictures of each menus*/
.menu-image {
  height: 17rem;
}
@media screen and (min-width: 992px) {
  .menu-image {
    height: 26rem;
    margin: 0 auto;
  }
}
.menu-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Title of the menu + Heart*/
.title-menu {
  position: relative;
}
.title-menu h1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-family: Shrikhand, sans-serif;
  border-radius: 35px 35px 0 0;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 1.5rem 0 0.5rem 1rem;
  top: -4.62rem;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .title-menu h1 {
    padding-left: 4rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .title-menu h1 {
    border-radius: 100px 100px 0 0;
    font-size: 2.5rem;
    padding-left: 10%;
  }
}
.title-menu__heart {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -2.5rem;
  right: 1.5rem;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .title-menu__heart {
    right: 5.5rem;
  }
}
@media screen and (min-width: 992px) {
  .title-menu__heart {
    right: 11%;
  }
}
.title-menu__heart img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Implementation of the form menus*/
.menus {
  height: 75rem;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus {
    height: 85rem;
  }
}
@media screen and (min-width: 992px) {
  .menus {
    height: 101rem;
    padding-top: 2rem;
  }
}
.menus__btn {
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 6px 20px -6px #6a686a;
          box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  display: block;
  opacity: 0;
  border: none;
  padding: 1rem 3rem;
  margin: 2rem auto;
  -webkit-animation: appear-group-menu 0.5s 6.5s ease-in-out forwards;
          animation: appear-group-menu 0.5s 6.5s ease-in-out forwards;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__btn {
    margin: 3rem auto;
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .menus__btn {
    font-size: 1.5rem;
    margin: 3.5rem auto;
  }
}
.menus__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9de4), to(#9356DC));
  background: -o-linear-gradient(top, #ff9de4 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #ff9de4 0%, #9356DC 100%);
  -webkit-box-shadow: 0px 7px 25px -4px #585658;
          box-shadow: 0px 7px 25px -4px #585658;
}

/*The groups menus Starters, Dishes & Desserts*/
.menus__groups {
  opacity: 0;
  /*Underline title*/
  /*The differents choices*/
}
@media screen and (min-width: 992px) {
  .menus__groups {
    padding-left: 12%;
  }
}
.menus__groups h2 {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.5rem 0 0 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__groups h2 {
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups h2 {
    font-size: 1.5rem;
    padding-top: 3.5rem;
  }
}
.menus__groups span {
  display: block;
  width: 3rem;
  border: 2px solid #99E2D0;
  margin: 0.3rem 0 1rem 1.5rem;
}
@media screen and (min-width: 992px) {
  .menus__groups span {
    width: 4rem;
    margin-bottom: 2.5rem;
  }
}
.menus__groups .menus__groups-choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0px 2px 13px -5px #d0d0d0;
          box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*The checkbox that appear*/
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
  /*Animations on hover for Desktop*/
}
.menus__groups .menus__groups-choice h3 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__groups .menus__groups-choice h3 {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice h3 {
    font-size: 1.5rem;
  }
}
.menus__groups .menus__groups-choice .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__groups .menus__groups-choice .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__groups .menus__groups-choice input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__groups .menus__groups-choice input[type=checkbox] + label {
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__groups .menus__groups-choice input[type=checkbox] + label {
    width: 47.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice input[type=checkbox] + label {
    width: 51rem;
  }
}
.menus__groups .menus__groups-choice input[type=checkbox]:checked ~ .check-choice {
  -webkit-animation: appear-checkbox 1s 0.1s ease forwards;
          animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__groups .menus__groups-choice input[type=checkbox]:checked ~ .check-choice > .fa-circle-check {
  -webkit-animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
          animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__groups .menus__groups-choice input[type=checkbox]:checked ~ h3 {
  -webkit-animation: deplace-submenu-title 0.5s ease-in-out forwards;
          animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__groups .menus__groups-choice input[type=checkbox]:checked ~ h3 ~ .menus__groups-choice__name .price {
  -webkit-animation: deplace-submenu-price 0.5s ease-in-out forwards;
          animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__groups .menus__groups-choice__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.98rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__groups .menus__groups-choice__name {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice__name {
    font-size: 1.2rem;
  }
}
.menus__groups .menus__groups-choice__name p {
  display: inline-block;
}
.menus__groups .menus__groups-choice__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.menus__groups .menus__groups-choice__name .description:hover {
  overflow: visible;
}
.menus__groups .menus__groups-choice__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__groups .menus__groups-choice__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice:hover .check-choice {
    -webkit-animation: appear-checkbox 1s 0.1s ease forwards;
            animation: appear-checkbox 1s 0.1s ease forwards;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice:hover .check-choice .fa-circle-check {
    -webkit-animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
            animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice:hover h3 {
    -webkit-animation: deplace-submenu-title 0.5s ease-in-out forwards;
            animation: deplace-submenu-title 0.5s ease-in-out forwards;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice:hover .menus__groups-choice__name .price {
    -webkit-animation: deplace-submenu-price 0.5s ease-in-out forwards;
            animation: deplace-submenu-price 0.5s ease-in-out forwards;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menus__groups .menus__groups-choice {
    width: 80%;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 992px) {
  .menus__groups .menus__groups-choice {
    width: 55%;
  }
}

/*Animation of each menu group (opacity 0->1): Starters,Dishes & Desserts*/
.anim-starters {
  -webkit-animation: appear-group-menu 1s 0.5s ease-in-out forwards;
          animation: appear-group-menu 1s 0.5s ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .anim-starters .anim-starters1 {
    margin: 1rem 0 1.5rem 10%;
  }
  .anim-starters .anim-starters2 {
    margin: 1rem 0 1.5rem 15%;
  }
  .anim-starters .anim-starters3 {
    margin: 1rem 0 1.5rem 20%;
  }
}

.anim-dishes {
  -webkit-animation: appear-group-menu 1s 2s ease-in-out forwards;
          animation: appear-group-menu 1s 2s ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .anim-dishes .anim-dishes1 {
    margin: 1rem 0 1.5rem 10%;
  }
  .anim-dishes .anim-dishes2 {
    margin: 1rem 0 1.5rem 15%;
  }
  .anim-dishes .anim-dishes3 {
    margin: 1rem 0 1.5rem 20%;
  }
}

.anim-desserts {
  -webkit-animation: appear-group-menu 1s 4.5s ease-in-out forwards;
          animation: appear-group-menu 1s 4.5s ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .anim-desserts .anim-desserts1 {
    margin: 1rem 0 1.5rem 10%;
  }
  .anim-desserts .anim-desserts2 {
    margin: 1rem 0 1.5rem 15%;
  }
  .anim-desserts .anim-desserts3 {
    margin: 1rem 0 1.5rem 20%;
  }
}

/*Animation of each submenu*/
.anim-starters1 {
  -webkit-animation: appear-submenu-choice 100ms 0.5s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 0.5s ease-in-out forwards;
}

.anim-starters2 {
  -webkit-animation: appear-submenu-choice 100ms 1s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 1s ease-in-out forwards;
}

.anim-starters3 {
  -webkit-animation: appear-submenu-choice 100ms 1.5s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 1.5s ease-in-out forwards;
}

.anim-dishes1 {
  -webkit-animation: appear-submenu-choice 100ms 3s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 3s ease-in-out forwards;
}

.anim-dishes2 {
  -webkit-animation: appear-submenu-choice 100ms 3.5s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 3.5s ease-in-out forwards;
}

.anim-dishes3 {
  -webkit-animation: appear-submenu-choice 100ms 4s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 4s ease-in-out forwards;
}

.anim-desserts1 {
  -webkit-animation: appear-submenu-choice 100ms 5s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 5s ease-in-out forwards;
}

.anim-desserts2 {
  -webkit-animation: appear-submenu-choice 100ms 5.5s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 5.5s ease-in-out forwards;
}

.anim-desserts3 {
  -webkit-animation: appear-submenu-choice 100ms 6s ease-in-out forwards;
          animation: appear-submenu-choice 100ms 6s ease-in-out forwards;
}

@-webkit-keyframes appear-group-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-group-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes appear-submenu-choice {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 5.6rem;
  }
}
@keyframes appear-submenu-choice {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 5.6rem;
  }
}
@-webkit-keyframes appear-checkbox {
  from {
    right: -4.3rem;
  }
  to {
    right: -0.3rem;
  }
}
@keyframes appear-checkbox {
  from {
    right: -4.3rem;
  }
  to {
    right: -0.3rem;
  }
}
@-webkit-keyframes rotate-icon-checkbox {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-icon-checkbox {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes deplace-submenu-title {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}
@keyframes deplace-submenu-title {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}
@-webkit-keyframes deplace-submenu-price {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 3.7rem;
  }
}
@keyframes deplace-submenu-price {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 3.7rem;
  }
}
.spinner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #fff;
  -webkit-animation: appear-spinner 500ms 2s ease forwards;
          animation: appear-spinner 500ms 2s ease forwards;
}
.spinner__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.spinner__container__letters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 1.2rem;
  width: 9.3rem;
  height: 9.3rem;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(153, 226, 208, 0.75) inset;
          box-shadow: 6px 6px 5px 0px rgba(153, 226, 208, 0.75) inset;
  -webkit-animation: rotate-spinner 0.6s ease-in-out 3;
          animation: rotate-spinner 0.6s ease-in-out 3;
}
.spinner__container__letters span {
  display: block;
  font-size: 1em;
}
.spinner__container__letters::after {
  content: " ";
  width: 0.75rem;
  height: 10.3rem;
  border-radius: 20%;
  border: 0.25rem solid;
  border-color: #9356DC rgba(0, 0, 0, 0) #9356DC rgba(0, 0, 0, 0);
  position: absolute;
  top: -0.8rem;
  animation: rotate-spinner 0.6s ease reverse 3;
}
.spinner__container__letters img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 2.75rem;
  -webkit-animation: fork-knife 0.6s alternate 3;
          animation: fork-knife 0.6s alternate 3;
}

@-webkit-keyframes appear-spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -10;
  }
}

@keyframes appear-spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -10;
  }
}
@-webkit-keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fork-knife {
  from {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes fork-knife {
  from {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.l1 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(289deg);
          transform: rotate(289deg);
  top: 3.8rem;
  left: -0.12rem;
  color: #9356DC;
}

.l2 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  top: 2.68rem;
  left: 0.25rem;
  color: #FF79DA;
}

.l3 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(317deg);
          transform: rotate(317deg);
  top: 1.5rem;
  left: 1rem;
  color: #9356DC;
}

.l4 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(335deg);
          transform: rotate(335deg);
  top: 0.5rem;
  left: 2.18rem;
  color: #FF79DA;
}

.l5 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(349deg);
          transform: rotate(349deg);
  top: 0rem;
  left: 3.43rem;
  color: #9356DC;
}

.l6 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  top: -0.25rem;
  left: 4.62rem;
  color: #FF79DA;
}

.l7 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
  top: 0.06rem;
  left: 6.06rem;
  color: #9356DC;
}

.l8 {
  font-weight: bold;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
  top: 0.56rem;
  left: 7.25rem;
  color: #FF79DA;
}

/*Future form allowing you to indicate the location of your choice*/
.location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeecec;
  padding: 1.2rem;
  -webkit-box-shadow: inset 0px 18px 21px -25px #6a686a;
          box-shadow: inset 0px 18px 21px -25px #6a686a;
}
@media screen and (min-width: 992px) {
  .location {
    font-size: 1.5rem;
  }
}
.location input[name=city] {
  width: 8rem;
  margin-left: 1.5rem;
  border: none;
  background-color: #eeecec;
}
@media screen and (min-width: 992px) {
  .location input[name=city] {
    width: 10rem;
  }
}
.location ::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
.location ::-moz-placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
.location :-ms-input-placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
.location ::-ms-input-placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
.location ::placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
@media screen and (min-width: 992px) {
  .location ::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .location ::-moz-placeholder {
    font-size: 1.2rem;
  }
  .location :-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .location ::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .location ::placeholder {
    font-size: 1.2rem;
  }
}

/*Presentation of the Site*/
.presentation {
  height: 19.5rem;
  text-align: center;
  background-color: #f7f7f7;
  /*Buttons + buttons hover*/
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .presentation {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .presentation {
    padding-top: 2.5rem;
  }
}
.presentation h1 {
  width: 62%;
  line-height: 1.7rem;
  margin: 0 auto;
  padding: 2.5rem 0 1.5rem 0;
}
.presentation p {
  font-size: 1.1rem;
  color: #6a686a;
  margin: 0 1.5rem 3rem 1.5rem;
}
.presentation__btn {
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 6px 20px -6px #6a686a;
          box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.presentation__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9de4), to(#9356DC));
  background: -o-linear-gradient(top, #ff9de4 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #ff9de4 0%, #9356DC 100%);
  -webkit-box-shadow: 0px 7px 25px -4px #585658;
          box-shadow: 0px 7px 25px -4px #585658;
}

/*Site User Manual*/
@media screen and (min-width: 992px) {
  .manual {
    padding: 0 1rem;
  }
}
.manual h2 {
  margin: 3rem 0 2rem 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .manual h2 {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .manual h2 {
    text-align: center;
    margin: 3rem;
  }
}
.manual__site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 992px) {
  .manual__site {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.manual__site__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 6px 20px -6px #6a686a;
          box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: inherit;
  background: 0;
  width: 82%;
  padding: 2rem 3rem;
  margin: 1rem 1rem 1rem 2rem;
  background-color: #f7f7f7;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .manual__site__item {
    width: 55%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .manual__site__item {
    display: block;
    line-height: 2.5rem;
    width: 17rem;
  }
}
.manual__site__item:hover {
  background: rgba(255, 121, 218, 0.15);
}
.manual__site__item:hover i {
  color: #9356DC;
}
.manual__site__item .number {
  position: absolute;
  top: 2rem;
  left: -0.8rem;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
}
@media screen and (min-width: 992px) {
  .manual__site__item .number {
    top: -1rem;
    padding: 0.3rem 1.2rem;
  }
}
.manual__site__item .icon {
  font-size: 1.4rem;
  margin-right: 1rem;
}
@media screen and (min-width: 992px) {
  .manual__site__item .icon {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .manual__site__item .choice {
    text-align: center;
  }
}

/*Presentation of the different restaurant menus*/
.restaurants {
  background-color: #f7f7f7;
  margin: 4rem 0 0 0;
  padding: 3rem 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .restaurants {
    padding: 3rem 6rem;
  }
}
@media screen and (min-width: 992px) {
  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 28rem);
    gap: 3rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0 4rem 0;
  }
}
.restaurants h2 {
  grid-column: 1/3;
  justify-self: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.restaurants__card {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  margin: 1rem 0;
  /*Empty heart positioning*/
  /* Implementation of a checkbox to click on the heart*/
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .restaurants__card {
    margin: 3rem 0;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    width: 28rem;
    justify-self: center;
  }
}
.restaurants__card-link {
  text-decoration: none;
  color: #000;
}
.restaurants__card-badge {
  position: absolute;
  font-weight: bold;
  border-radius: 0.2rem;
  top: 1.1rem;
  right: 1.1rem;
  background-color: #80eed2;
  color: #459658;
  padding: 0.4rem 0.7rem;
}
.restaurants__card-image {
  height: 12.5rem;
}
.restaurants__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card-name {
  line-height: 1.5rem;
  background-color: #fff;
  padding: 1rem;
}
.restaurants__card-fav-icon {
  position: absolute;
  top: 12.5rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.5rem 1.5rem 0 0;
  /*Full heart content and appearance gradually*/
}
.restaurants__card-fav-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card-fav-icon::after {
  content: "";
  position: absolute;
  background-image: url(../../images/heart/heart-regular-full.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  width: 1.5rem;
  height: 1.6rem;
  top: 0;
  right: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.84, 0.03, 0.36, 1.04);
  -o-transition: opacity 800ms cubic-bezier(0.84, 0.03, 0.36, 1.04);
  transition: opacity 800ms cubic-bezier(0.84, 0.03, 0.36, 1.04);
}
.restaurants__card-fav-checkbox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 2;
  /*Appearance of the full heart when checked*/
}
.restaurants__card-fav-checkbox:checked + .restaurants__card-fav-icon::after {
  opacity: 1;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .restaurants__card-fav-checkbox:hover + .restaurants__card-fav-icon::after {
    opacity: 1;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
}/*# sourceMappingURL=style.css.map */