/*Loading Spinner*/
/*Default buttons*/
/*Formatting the manual blocks*/
/*Formatting Pictures*/
/*Animations on Menus*/
/*Text cropping*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap"); /*header with stratup logo*/
header {
  margin: 0 auto;
}

.logo {
  width: 49%;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin: 0 auto;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Footer*/
footer {
  background-color: #2e2d2d;
  padding: 2rem;
}
footer h3 {
  font-family: Shrikhand, sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #fff;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 2rem;
  color: #fff;
}
ul li a i {
  margin-right: 0.6rem;
}

ul li:first-child i {
  margin-right: 0.9rem;
}

/*Return to the home menu*/
.return-index {
  position: absolute;
  top: 1.7rem;
  left: 1rem;
}

/*Pictures of each menus*/
.menu-image {
  height: 17rem;
}
.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Title of the menu + Heart*/
.title-menu {
  position: relative;
}
.title-menu__name {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-family: Shrikhand, sans-serif;
  border-radius: 35px 35px 0 0;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 1.5rem 0 0.5rem 1rem;
  top: -74px;
  background-color: #f7f7f7;
}
.title-menu__heart {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -2.5rem;
  right: 1.5rem;
  z-index: 1;
}
.title-menu__heart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Implementation of the differents menus*/
.menus {
  height: 75rem;
  background-color: #f7f7f7;
}
.menus__btn {
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  display: block;
  opacity: 0;
  border: none;
  padding: 1rem 3rem;
  margin: 2rem auto;
  animation: appear-group-menu 0.5s 6.5s ease-in-out forwards;
}
.menus__btn:hover {
  background: linear-gradient(to bottom, #ff9de4 0%, #9356DC 100%);
  box-shadow: 0px 7px 25px -4px #585658;
}

/*The 3 differents menus*/
.menus__starters {
  opacity: 0;
  /*Underline title*/
  /*Animation of each menu group (opacity 0->1): Starters,Dishes & Desserts*/
  animation: appear-group-menu 1s 0.5s ease-in-out forwards;
}
.menus__starters-title {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.5rem 0 0 1.5rem;
}
.menus__starters span {
  display: block;
  width: 3rem;
  border: 2px solid #99E2D0;
  margin: 0.3rem 0 1rem 1.5rem;
}

/*Implementation of the different classes for the submenus according to the $menusChoice map*/
.menus__starters-choice1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 0.5s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__starters-choice1 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__starters-choice1 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__starters-choice1 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__starters-choice1 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__starters-choice1 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__starters-choice1 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__starters-choice1 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__starters-choice1 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__starters-choice1 input[type=checkbox]:checked ~ h3 ~ .menus__starters-choice1__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__starters-choice1__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__starters-choice1__name p {
  display: inline-block;
}
.menus__starters-choice1__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__starters-choice1__name .description:hover {
  overflow: visible;
}
.menus__starters-choice1__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__starters-choice1__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__starters-choice2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 1s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__starters-choice2 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__starters-choice2 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__starters-choice2 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__starters-choice2 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__starters-choice2 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__starters-choice2 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__starters-choice2 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__starters-choice2 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__starters-choice2 input[type=checkbox]:checked ~ h3 ~ .menus__starters-choice2__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__starters-choice2__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__starters-choice2__name p {
  display: inline-block;
}
.menus__starters-choice2__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__starters-choice2__name .description:hover {
  overflow: visible;
}
.menus__starters-choice2__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__starters-choice2__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__starters-choice3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 1.5s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__starters-choice3 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__starters-choice3 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__starters-choice3 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__starters-choice3 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__starters-choice3 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__starters-choice3 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__starters-choice3 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__starters-choice3 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__starters-choice3 input[type=checkbox]:checked ~ h3 ~ .menus__starters-choice3__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__starters-choice3__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__starters-choice3__name p {
  display: inline-block;
}
.menus__starters-choice3__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__starters-choice3__name .description:hover {
  overflow: visible;
}
.menus__starters-choice3__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__starters-choice3__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

/*The 3 differents menus*/
.menus__dishes {
  opacity: 0;
  /*Underline title*/
  /*Animation of each menu group (opacity 0->1): Starters,Dishes & Desserts*/
  animation: appear-group-menu 1s 2s ease-in-out forwards;
}
.menus__dishes-title {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.5rem 0 0 1.5rem;
}
.menus__dishes span {
  display: block;
  width: 3rem;
  border: 2px solid #99E2D0;
  margin: 0.3rem 0 1rem 1.5rem;
}

/*Implementation of the different classes for the submenus according to the $menusChoice map*/
.menus__dishes-choice1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 3s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__dishes-choice1 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__dishes-choice1 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__dishes-choice1 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__dishes-choice1 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__dishes-choice1 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__dishes-choice1 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__dishes-choice1 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__dishes-choice1 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__dishes-choice1 input[type=checkbox]:checked ~ h3 ~ .menus__dishes-choice1__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__dishes-choice1__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__dishes-choice1__name p {
  display: inline-block;
}
.menus__dishes-choice1__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__dishes-choice1__name .description:hover {
  overflow: visible;
}
.menus__dishes-choice1__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__dishes-choice1__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__dishes-choice2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 3.5s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__dishes-choice2 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__dishes-choice2 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__dishes-choice2 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__dishes-choice2 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__dishes-choice2 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__dishes-choice2 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__dishes-choice2 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__dishes-choice2 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__dishes-choice2 input[type=checkbox]:checked ~ h3 ~ .menus__dishes-choice2__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__dishes-choice2__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__dishes-choice2__name p {
  display: inline-block;
}
.menus__dishes-choice2__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__dishes-choice2__name .description:hover {
  overflow: visible;
}
.menus__dishes-choice2__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__dishes-choice2__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__dishes-choice3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 4s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__dishes-choice3 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__dishes-choice3 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__dishes-choice3 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__dishes-choice3 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__dishes-choice3 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__dishes-choice3 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__dishes-choice3 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__dishes-choice3 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__dishes-choice3 input[type=checkbox]:checked ~ h3 ~ .menus__dishes-choice3__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__dishes-choice3__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__dishes-choice3__name p {
  display: inline-block;
}
.menus__dishes-choice3__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__dishes-choice3__name .description:hover {
  overflow: visible;
}
.menus__dishes-choice3__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__dishes-choice3__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

/*The 3 differents menus*/
.menus__desserts {
  opacity: 0;
  /*Underline title*/
  /*Animation of each menu group (opacity 0->1): Starters,Dishes & Desserts*/
  animation: appear-group-menu 1s 4.5s ease-in-out forwards;
}
.menus__desserts-title {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.5rem 0 0 1.5rem;
}
.menus__desserts span {
  display: block;
  width: 3rem;
  border: 2px solid #99E2D0;
  margin: 0.3rem 0 1rem 1.5rem;
}

/*Implementation of the different classes for the submenus according to the $menusChoice map*/
.menus__desserts-choice1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 5s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__desserts-choice1 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__desserts-choice1 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__desserts-choice1 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__desserts-choice1 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__desserts-choice1 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__desserts-choice1 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__desserts-choice1 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__desserts-choice1 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__desserts-choice1 input[type=checkbox]:checked ~ h3 ~ .menus__desserts-choice1__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__desserts-choice1__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__desserts-choice1__name p {
  display: inline-block;
}
.menus__desserts-choice1__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__desserts-choice1__name .description:hover {
  overflow: visible;
}
.menus__desserts-choice1__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__desserts-choice1__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__desserts-choice2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 5.5s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__desserts-choice2 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__desserts-choice2 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__desserts-choice2 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__desserts-choice2 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__desserts-choice2 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__desserts-choice2 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__desserts-choice2 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__desserts-choice2 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__desserts-choice2 input[type=checkbox]:checked ~ h3 ~ .menus__desserts-choice2__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__desserts-choice2__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__desserts-choice2__name p {
  display: inline-block;
}
.menus__desserts-choice2__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__desserts-choice2__name .description:hover {
  overflow: visible;
}
.menus__desserts-choice2__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__desserts-choice2__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

.menus__desserts-choice3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5.6rem;
  border-radius: 1.3rem;
  box-shadow: 0px 2px 13px -5px #d0d0d0;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #fff;
  padding-left: 1rem;
  opacity: 0;
  /*Animation for each submenu from top to bottom (opacity 0->1 & height 0->5.6rem)*/
  animation: appear-submenu-choice 100ms 6s ease-in-out forwards;
  /*Resizing of the clickable part*/
  /*Appearance of the confirmation of the choice*/
  /*Rotation of the icon in the checkbox*/
  /*Decreasing the size of the submenu title*/
  /*Submenu price shift to the left*/
}
.menus__desserts-choice3 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.8rem;
  padding-bottom: 0.2rem;
}
.menus__desserts-choice3 .check-choice {
  position: absolute;
  text-align: center;
  line-height: 0.6rem;
  width: 4.3rem;
  height: 5.8rem;
  top: -0.1rem;
  right: -4.3rem;
  background-color: #99E2D0;
}
.menus__desserts-choice3 .check-choice > .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding-right: 0.2rem;
}
.menus__desserts-choice3 input[type=checkbox] {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
}
.menus__desserts-choice3 input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 18.7rem;
  height: 5.5rem;
  margin-right: 1.5rem;
}
.menus__desserts-choice3 input[type=checkbox]:checked ~ :nth-child(5) {
  animation: appear-checkbox 1s 0.1s ease forwards;
}
.menus__desserts-choice3 input[type=checkbox]:checked ~ :nth-child(5) > *:nth-child(1) {
  animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
}
.menus__desserts-choice3 input[type=checkbox]:checked ~ h3 {
  animation: deplace-submenu-title 0.5s ease-in-out forwards;
}
.menus__desserts-choice3 input[type=checkbox]:checked ~ h3 ~ .menus__desserts-choice3__name .price {
  animation: deplace-submenu-price 0.5s ease-in-out forwards;
}
.menus__desserts-choice3__name {
  display: flex;
  justify-content: space-between;
  font-size: 0.98rem;
}
.menus__desserts-choice3__name p {
  display: inline-block;
}
.menus__desserts-choice3__name .description {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__desserts-choice3__name .description:hover {
  overflow: visible;
}
.menus__desserts-choice3__name .description:hover + .price {
  position: relative;
  top: -1.7rem;
}
.menus__desserts-choice3__name .price {
  font-weight: bold;
  padding: 0 1.5rem 0 0.3rem;
}

@keyframes appear-group-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear-submenu-choice {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 5.6rem;
  }
}
@keyframes appear-checkbox {
  from {
    right: -4.3rem;
  }
  to {
    right: -0.3rem;
  }
}
@keyframes rotate-icon-checkbox {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes deplace-submenu-title {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}
@keyframes deplace-submenu-price {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 3.7rem;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #fff;
  animation: appear-spinner 500ms 2s ease forwards;
}
.spinner__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.spinner__container__letters {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
  width: 9.3rem;
  height: 9.3rem;
  border-radius: 50%;
  box-shadow: 6px 6px 5px 0px rgba(153, 226, 208, 0.75) inset;
  animation: rotate-spinner 0.6s ease-in-out 3;
}
.spinner__container__letters span {
  display: block;
  font-size: 1em;
}
.spinner__container__letters::after {
  content: " ";
  width: 0.75rem;
  height: 10.3rem;
  border-radius: 20%;
  border: 0.25rem solid;
  border-color: #9356DC rgba(0, 0, 0, 0) #9356DC rgba(0, 0, 0, 0);
  position: absolute;
  top: -0.8rem;
  animation: rotate-spinner 0.6s ease reverse 3;
}
.spinner__container__letters img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  position: absolute;
  top: 2.75rem;
  animation: fork-knife 0.6s alternate 3;
}

@keyframes appear-spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -99;
  }
}
@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fork-knife {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1.1);
  }
}
.l1 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(289deg);
  top: 62px;
  left: -2px;
  color: #9356DC;
}

.l2 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(300deg);
  top: 43px;
  left: 4px;
  color: #FF79DA;
}

.l3 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(317deg);
  top: 24px;
  left: 16px;
  color: #9356DC;
}

.l4 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(335deg);
  top: 8px;
  left: 35px;
  color: #FF79DA;
}

.l5 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(349deg);
  top: 0;
  left: 55px;
  color: #9356DC;
}

.l6 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(7deg);
  top: -4px;
  left: 74px;
  color: #FF79DA;
}

.l7 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(27deg);
  top: -1px;
  left: 97px;
  color: #9356DC;
}

.l8 {
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: rotate(37deg);
  top: 9px;
  left: 116px;
  color: #FF79DA;
}

/*Future form allowing you to indicate the location of your choice*/
.location {
  display: flex;
  justify-content: center;
  background-color: #eeecec;
  padding: 1.2rem;
  box-shadow: inset 0px 18px 21px -25px #6a686a;
}
.location input[name=city] {
  width: 8rem;
  margin-left: 1.5rem;
  border: none;
  background-color: #eeecec;
}
.location ::placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}

/*Presentation of the Site*/
.presentation {
  height: 19.5rem;
  text-align: center;
  background-color: #f7f7f7;
  /*Buttons + buttons hover*/
}
.presentation h1 {
  width: 62%;
  line-height: 1.7rem;
  margin: 0 auto;
  padding: 2.5rem 0 1.5rem 0;
}
.presentation p {
  font-size: 1.1rem;
  color: #6a686a;
  margin-bottom: 3rem;
}
.presentation__btn {
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.presentation__btn:hover {
  background: linear-gradient(to bottom, #ff9de4 0%, #9356DC 100%);
  box-shadow: 0px 7px 25px -4px #585658;
}

/*Site User Manual*/
.manual h2 {
  margin: 3rem 0 2rem 1.5rem;
}
.manual__site {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manual__site__item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 6px 20px -6px #6a686a;
  color: #fff;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: inherit;
  background: 0;
  width: 82%;
  padding: 2rem 3rem;
  margin: 1rem 1rem 1rem 2rem;
  background-color: #f7f7f7;
  color: #000;
}
.manual__site__item:hover {
  background: rgba(255, 121, 218, 0.15);
}
.manual__site__item:hover i {
  color: #9356DC;
}
.manual__site__item .number {
  position: absolute;
  top: 2rem;
  left: -0.8rem;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
}
.manual__site__item .icon {
  font-size: 1.4rem;
  margin-right: 1rem;
}

/*Presentation of the different restaurant menus*/
.restaurants {
  background-color: #f7f7f7;
  margin: 4rem 0 0 0;
  padding: 3rem 1rem;
}
.restaurants__card {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  margin: 1rem 0;
  /* Implementation of a checkbox to click on the heart*/
  /*Empty heart positioning*/
}
.restaurants__card-link {
  text-decoration: none;
  color: #000;
}
.restaurants__card-badge {
  position: absolute;
  font-weight: bold;
  border-radius: 0.2rem;
  top: 1.1rem;
  right: 1.1rem;
  background-color: #80eed2;
  color: #459658;
  padding: 0.4rem 0.7rem;
}
.restaurants__card-image {
  height: 12.5rem;
}
.restaurants__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants__card-name {
  line-height: 1.5rem;
  background-color: #fff;
  padding: 1rem;
}
.restaurants__card-fav-checkbox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 2;
  /*Appearance of the full heart when checked*/
}
.restaurants__card-fav-checkbox:checked + .restaurants__card-fav-icon::after {
  opacity: 1;
  cursor: pointer;
}
.restaurants__card-fav-icon {
  position: absolute;
  top: 12.5rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.5rem 1.5rem 0 0;
  /*Full heart content and appearance gradually*/
}
.restaurants__card-fav-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants__card-fav-icon::after {
  content: "";
  position: absolute;
  background-image: url(../../images/heart/heart-regular-full.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  width: 1.5rem;
  height: 1.6rem;
  top: 0;
  right: 0;
  transition: opacity 800ms cubic-bezier(0.84, 0.03, 0.36, 1.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}/*# sourceMappingURL=style.css.map */