@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_fonts";
@import "../components/_breakpoints";
@import "../layouts/_header";
@import "../layouts/footer";
@import "../pages/_menus";
@import "../pages/_accueil";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}