@import "../utils/_variables";
@import "../utils/mixins";
@import "../components/_breakpoints";
@import "../layouts/_header";
@import "../layouts/footer";
@import "../pages/_menus";
@import "../pages/_accueil";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}