/*Future form allowing you to indicate the location of your choice*/
.location {
    display: flex;
    justify-content: center;
    background-color: #eeecec;
    padding: 1.2rem;
    box-shadow: inset 0px 18px 21px -25px #6a686a;

    & input[name="city"] {
        width: 8rem;
        margin-left: 1.5rem;
        border: none;
        background-color: #eeecec;
    }

    & ::placeholder {
        font-weight: 700;
        font-size: 1rem;
        color: #000;
    }
}

/*Presentation of the Site*/
.presentation {
    height: 19.5rem;
    text-align: center;
    background-color: $bgc-secondary;

    & h1 {
        width: 62%;
        line-height: 1.7rem;
        margin: 0 auto;
        padding: 2.5rem 0 1.5rem 0;
    }

    & p {
        font-size: 1.1rem;
        color: #6a686a;
        margin-bottom: 3rem;
    }

    /*Buttons + buttons hover*/
    &__btn {
        @include buttons();

        &:hover {
            @include buttons-hover();
        }
    }
}