/*Return to the home menu*/
.return-index {
    position: absolute;
    top: 1.7rem;
    left: 1rem;

    & a {
        color: #000;
    }

    @include tablet {
        font-size: 1.5rem;
    }

    @include desktop {
        font-size: 2rem;
    }

}

/*Pictures of each menus*/
.menu-image {
    height: 17rem;

    @include desktop {
        height: 26rem;
        margin: 0 auto;
    }

    & img {
        @include pictures();
    }
}

/*Title of the menu + Heart*/
.title-menu {
    position: relative;

    & h1 {
        position: absolute;
        z-index: 1;
        width: 100%;
        font-family: $secondary-font;
        border-radius: 35px 35px 0 0;
        font-size: 1.8rem;
        font-weight: normal;
        padding: 1.5rem 0 0.5rem 1rem;
        top: -4.62rem;
        background-color: $bgc-secondary;

        @include tablet {
            padding-left: 4rem;
            font-size: 2rem;
        }

        @include desktop {
            border-radius: 100px 100px 0 0;
            font-size: 2.5rem;
            padding-left: 10%;

        }
    }

    &__heart {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: -2.5rem;
        right: 1.5rem;
        z-index: 1;

        @include tablet {
            right: 5.5rem;
        }

        @include desktop {
            right: 11%;
        }

        & img {
            @include pictures();
        }
    }
}

/*Implementation of the form menus*/
.menus {
    height: 75rem;
    background-color: $bgc-secondary;

    @include tablet {
        height: 85rem;
    }

    @include desktop {
        height: 101rem;
        padding-top: 2rem;
    }

    &__btn {
        @include buttons();
        display: block;
        opacity: 0;
        border: none;
        padding: 1rem 3rem;
        margin: 2rem auto;
        // Appearance of the "Order" button (opacity 0->1)
        animation: appear-group-menu 0.5s 6.5s ease-in-out forwards;

        @include tablet {
            margin: 3rem auto;
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.5rem;
            margin: 3.5rem auto;
        }

        &:hover {
            @include buttons-hover();
        }
    }
}

/*The groups menus Starters, Dishes & Desserts*/
.menus__groups {
    opacity: 0;

    @include desktop {
        padding-left: 12%;
    }

    & h2 {
        font-size: 1.2rem;
        font-weight: normal;
        text-transform: uppercase;
        padding: 1.5rem 0 0 1.5rem;

        @include tablet {
            padding-top: 2.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
            padding-top: 3.5rem;
        }

    }

    /*Underline title*/
    & span {
        display: block;
        width: 3rem;
        border: 2px solid $tertiary-color;
        margin: 0.3rem 0 1rem 1.5rem;

        @include desktop {
            width: 4rem;
            margin-bottom: 2.5rem;
        }
    }

    /*The differents choices*/
    & .menus__groups-choice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 90%;
        height: 5.6rem;
        border-radius: 1.3rem;
        box-shadow: 0px 2px 13px -5px #d0d0d0;
        overflow: hidden;
        margin: 0.5rem auto;
        background-color: #fff;
        padding-left: 1rem;
        opacity: 0;

        & h3 {
            @include text-ellipsis();
            width: 100%;
            line-height: 1.8rem;
            padding-bottom: 0.2rem;

            @include tablet {
                margin-left: 1.5rem;
            }

            @include desktop {
                font-size: 1.5rem;
            }
        }

        /*The checkbox that appear*/
        & .check-choice {
            position: absolute;
            text-align: center;
            line-height: 0.6rem;
            width: 4.3rem;
            height: 5.8rem;
            top: -0.1rem;
            right: -4.3rem;
            background-color: $tertiary-color;

            &>.fa-circle-check {
                color: white;
                font-size: 1.5rem;
                line-height: 5.5rem;
                padding-right: 0.2rem;
            }
        }

        & input[type="checkbox"] {
            position: absolute;
            width: 5.6rem;
            height: 5.6rem;
            opacity: 0;
        }

        /*Resizing of the clickable part*/
        & input[type="checkbox"]+label {
            position: absolute;
            top: 0;
            width: 18.7rem;
            height: 5.5rem;
            margin-right: 1.5rem;

            @include tablet {
                width: 47.5rem;
            }

            @include desktop {
                width: 51rem;
            }
        }

        /*Appearance of the confirmation of the choice*/
        & input[type="checkbox"]:checked~.check-choice {
            animation: appear-checkbox 1s 0.1s ease forwards;
        }

        /*Rotation of the icon in the checkbox*/
        & input[type="checkbox"]:checked~.check-choice>.fa-circle-check {
            animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
        }

        // Diminuer la taille (width 100%->75%) de la boîte contenant le titre du menu
        /*Decreasing the size of the submenu title*/
        & input[type=checkbox]:checked~h3 {
            animation: deplace-submenu-title 0.5s ease-in-out forwards;
        }

        // Ajouter une marge (margin-right 0->60px) qui va déplacer le prix du menu
        /*Submenu price shift to the left*/
        & input[type=checkbox]:checked~h3~.menus__groups-choice__name .price {
            animation: deplace-submenu-price 0.5s ease-in-out forwards;
        }

        &__name {
            display: flex;
            justify-content: space-between;
            font-size: 0.98rem;

            @include tablet {
                margin-left: 1.5rem;
            }

            @include desktop {
                font-size: 1.2rem;
            }

            & p {
                display: inline-block;
            }

            & .description {
                width: 83%;
                @include text-ellipsis();

                &:hover {
                    overflow: visible;

                    &+.price {
                        position: relative;
                        top: -1.7rem;
                    }
                }
            }

            & .price {
                font-weight: bold;
                padding: 0 1.5rem 0 0.3rem;
            }
        }

        /*Animations on hover for Desktop*/
        &:hover {
            & .check-choice {
                @include desktop {
                    animation: appear-checkbox 1s 0.1s ease forwards;
                }

                & .fa-circle-check {
                    @include desktop {
                        animation: rotate-icon-checkbox 0.5s 0.4s ease-in-out;
                    }
                }
            }

            & h3 {
                @include desktop {
                    animation: deplace-submenu-title 0.5s ease-in-out forwards;
                }
            }

            & .menus__groups-choice__name .price {
                @include desktop {
                    animation: deplace-submenu-price 0.5s ease-in-out forwards;
                }
            }
        }

        @include tablet {
            width: 80%;
            margin: 1rem auto;
        }

        @include desktop {
            width: 55%;
        }
    }

}

/*Animation of each menu group (opacity 0->1): Starters,Dishes & Desserts*/
$groups: starters, dishes, desserts;
$temp-appear-group: 0.5s,
    2s,
    4.5s;
$count : 1;

@each $group in $groups {

    .anim-#{$group} {
        animation: appear-group-menu 1s nth($temp-appear-group, $count) ease-in-out forwards;

        @include desktop {
            @for $i from 1 through 3 {
                $marg: 10%,
                15%,
                20%;

                & .anim-#{$group}#{$i} {
                    margin: 1rem 0 1.5rem nth($marg, $i);
                }
            }
        }
    }

    $count: $count+1;
}

/*Animation of each submenu*/
@for $i from 1 through 3 {
    $temp: 0.5s,
    1s,
    1.5s;

    .anim-starters#{$i} {
        animation: appear-submenu-choice 100ms nth($temp, $i) ease-in-out forwards;
    }
}

@for $i from 1 through 3 {
    $temp: 3s,
    3.5s,
    4s;

    .anim-dishes#{$i} {
        animation: appear-submenu-choice 100ms nth($temp, $i) ease-in-out forwards;

    }
}

@for $i from 1 through 3 {
    $temp: 5s,
    5.5s,
    6s;

    .anim-desserts#{$i} {
        animation: appear-submenu-choice 100ms nth($temp, $i) ease-in-out forwards;

    }
}

@include animations-menus();