/*header with stratup logo*/
header {
    margin: 0 auto;
}

.logo {
    width: 12rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;

    @include tablet {
        display: flex;
        justify-content: center;
        width: 16rem;
    }

    @include desktop {
        width: 20rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}